/*
Edits to 98.css
    -.title-bar font-size = 25 
    -.title-bar change gradient colors
    -.title-bar-controls button min-width: 53px;
*/

/*https://css-tricks.com/perfect-full-page-background-image/*/
html { 
    background: url(https://wallpaperaccess.com/full/7399646.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}
div {
    display:block;
}
body {
    overflow: auto;
    margin: 0px;
    overflow-x:
    hidden;
}

button {
    width: 25%;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}

.notAButton {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    box-sizing: border-box;
    border: none;
    background: #c0c0c0;
    box-shadow: inset -1px -1px #0a0a0a,
    inset 1px 1px #ffffff, inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
    border-radius: 0;
    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;
}
.notMyToolBar {
    width:101vw;
    position: absolute;
    top: 0px;
    z-index: 10000;
    height: 27px;
    outline: 1px solid rgb(174, 168, 217);
    background: rgb(174, 168, 217);
    border-top: 1px solid var(rgb(216, 213, 236));
    left: -2px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-2px);
}
.notMyButtonStyles{
    width:101vw;
    position: absolute;
    bottom: 0px;
    z-index: 10000;
    height: 37px;
    outline: 1px solid rgb(174, 168, 217);
    background: rgb(174, 168, 217);
    border-top: 1px solid var(rgb(216, 213, 236));
    left: -2px;
    /*
    rgb(174, 168, 217)
    rgb(216, 213, 236)
    */
    display: flex;
    justify-content: space-between;
}

.menuBarStart {
    margin: 7px 0px 1px -5px;
    float: left;
    background: rgb(174, 168, 217);
    width: 90px;
}

.myWindow {
    width: 620px;
    float: left;
}


.myNav {
    height: 7.5vh;
    margin: -1rem -1rem 1rem -1rem;
    padding: 1rem;
    justify-content: center;
    font-size: 40px;
    background: linear-gradient(
    90deg,
    #4d30bf,
    #da70d6
    );
    /*https://css-tricks.com/negative-margins/
        want to override te stylings of the 98.css libraries as clean as possible to always stay
        within the view width of the container with no whitespace around the left and right or top.
    */
}

.myNavText {
    margin-top: 18px;
    /* margin-top: 18px; */
    margin: auto;
    margin-top: 14px;
}

/*the bounds set here will work on any screen size so far*/
.myNavButtons {
    /*scale up the buttons there is probably better ways to do this but I generally like this method*/
    /*transform kind of messed up the margins fix it here*/
    transform: scale(1.5);
    width: 36%;
    height: 30px;
    position: absolute;
    top: 27px;
    right: 0px;
}

.imageField {
    width: 0;
    padding-left: 7px;
    margin-right: 10px;
    margin-bottom: auto;
}

.textField {
    width: inherit;
    height: 12%;
}

.myGrid {
    display:flex;
    flex-direction: row;
}

.status-bar {
    gap: 1px;
    display: flex;
    margin: 0 1px;
    background: #c0c0c0;
    height: inherit;
}

.status-bar-field {
    box-shadow: inset -1px -1px #dfdfdf,inset 1px 1px grey;
    flex-grow: 1;
    margin: 0;
    padding: 2px 3px;
}

.fileMenuBottom {
    background: #c0c0c0;
    padding: 3px;
    /* margin: -10px; */
    margin-bottom: -4px;
    height: 16px;
    margin-left: -2px;
    margin-right: -3px;
    box-shadow: inset -1px -1px #000000, inset 1px 1px #0a0a0a, inset -2px -2px #808080, inset 2px 2px #dfdfdf;

}

.menuItem {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 15px;
}

.fileMenuItem{
    display: flex;

}

.fileMenuItem:hover{
    background-color: lightblue;
    
}

.fileMenuTop {
    background: #c0c0c0;
    padding: 3px;
    /* margin: -10px; */
    margin: 0px;  
    box-shadow: unset;    
    
}

.introBox {
    display: flex;
}

.exploreIcon {
    display: inline-block;
}

.exploreIcon:hover {
    background-color: lightblue;
}

.remBox {
    margin-top: 80px;
    margin-left:120px;
    margin-right:10px;
    display: inline-block;
}

.linksBox {
    width: 400px;
    display: inline-block;
}

.linksWindow {

    height: 250px;
    background: white;
    width: calc(96% + 2px);
    margin-left: 0px;
    border: 4px solid #c0c0c0!important;
    box-shadow: inset -1px -1px #000000, inset 1px 1px #0a0a0a, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
}

.aboutBar {
    height: 20px;
    display: block;
    margin-left: 2px;
    background: linear-gradient( 90deg, #ff0000, #3010ffe6 );
}

.aboutMe{

    /* margin-bottom: -27px; */
}/*sheesh the names are confusing this is so i can media tag the about me box*/

.remBoxMobile {
}

.fileGridBar {
    width: 412px;
    height: 20px;
    display: block;
    margin-left: 0px;
    background: linear-gradient( 90deg, rgb(154 143 233), rgb(26 26 101) );
}
.linksBar {
    height: 21px;
    display: inline-block;
    margin-left: 0px;
    background: linear-gradient( 90deg, #ff0000, #3010ffe6 );
    width: 99.5%;
    margin-bottom: -8px;
    cursor: pointer;
}
.term_styles{
    margin-right: 20px;
    margin-left: 21px;
    float: right;
    width: 450px;
    margin-top: -360px;
    /* margin-bottom: 76px; */
}

.windowBar {
    /*cursor: pointer !important; show cursor always on the menubars. meh*/
    
}
.msPaint {
    position: fixed;

    width: 384px;
}
.msPaintBar {
    width: calc(100% - 2px);
    background: linear-gradient( 90deg, #ff0000, #3010ffe6 );
}

.timeBox {
    margin: 5px 0.25vw 0px 0px;
    background: rgb(174, 168, 217);
    box-shadow: inset -1px -1px #ffffff, inset 2px 1px #0a0a0a, inset 1px 1px #dfdfdf, inset 2px 2px #808080;
    width: fit-content;
    text-shadow: unset;
    color: #000000;
    font-family: unset;
    height: 29px;
}

#windowOutter {

}

#time {

}

#myImage {
    width: 170px;
    margin-top: 2px;
    margin-left: 2px;
}
.filetext {
    transform: translate(-2px,-18px);
    margin-bottom: -3px;
}

#git {
    width: 62px;
    height: 25px;
    z-index: -1;
}

#linkedin {
    width: 66px;
    height: 20px;
    z-index: -1;
}

#pgrm {
    width: 70px;
    height: 30px;
}

#fileIcon {
    width: 30px;
    height: 30px;
}
.menuFileIcon {
    width: 50px;
    height: 60px;
}



@media (max-width: 885px) { 
    .aboutMe{width: 500px}
}

/*media tags for the menu buttons
@media (max-width: 1590px) {
    .remBoxMobile {display:inline-block;margin:30px}
}
@media (max-width: 988px) { 
    .myGrid{flex-direction: column;}
    #yourMom{display: flex;flex-direction: column;max-width: 90vw;}
    .imageField{margin-left:auto;margin-right:auto;margin-top:auto;box-shadow: unset;}
}

@media (max-width: 660px) {  
    .myWindow {margin-right: 8%;width:90vw;margin: auto;}
    .myNavButtons {display: none;}
    .textField{width:inherit}
}

@media (max-width: 520px) { 
    .introBox{display:unset;justify-content: center;}
    .imageField{margin:auto;box-shadow: unset;}
}*/