:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  user-select: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;
  overflow: hidden;

  /*hello*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
  .startWords{display: none !important;}
  .menuBarStart{width: 38px !important}
}

@media (max-width: 580px) {
  .minItemText{display: none !important;}
  .startWords{display: none !important;}
  .appMinimized {padding:0 !important;margin-top:6.5px !important}
  .dateText {display: none !important;}
  .rightBox{margin-right:-20px !important;}
  .nameBorder{margin-left: -5px !important}
  .appMinimized img {transform: translateX(-4px) skew(20deg) !important;}
  .minmizedItems{margin-top:10px;}
}

@font-face {
  font-family: 'Apple Garamond';
  font-style: normal;
  font-weight: normal;
  src: local('Apple Garamond'), url('./assets/fonts/AppleGaramond.woff') format('woff');
}


@font-face {
  font-family: 'Apple Garamond Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Apple Garamond Italic'), url('./assets/fonts/AppleGaramond-Italic.woff') format('woff');
}


@font-face {
  font-family: 'Apple Garamond Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Apple Garamond Bold'), url('./assets/fonts/AppleGaramond-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Apple Garamond Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Apple Garamond Bold Italic'), url('./assets/fonts/AppleGaramond-BoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Apple Garamond Light';
  font-style: normal;
  font-weight: normal;
  src: local('Apple Garamond Light'), url('./assets/fonts/AppleGaramond-Light.woff') format('woff');
}


@font-face {
  font-family: 'Apple Garamond Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Apple Garamond Light Italic'), url('./assets/fonts/AppleGaramond-LightItalic.woff') format('woff');
}